BW8AGU/C#/Ch08/BW8AGU.Samples.CSharp/Service References/FakeServiceReference/FakeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FakeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FakeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SimpleAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleAppointment" nillable="true" type="tns:SimpleAppointment" />
</xs:schema>