BW8AGU/VB/Ch08/BW8AGU.Samples.VB/BW8AGU.Samples.VB/Service References/FakeServiceReference/FakeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4398/FakeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FakeService" />
  <xs:element name="GetSimpleAppointment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FakeService" minOccurs="0" name="GetSimpleAppointmentResult" nillable="true" type="q1:SimpleAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>